@import url('https://fonts.googleapis.com/css2?family=Molle&family=Open+Sans:wght@500&family=Quicksand:wght@500&family=Righteous&family=Spicy+Rice&display=swap');

.header {
    background-color: #333;
    height: 50px;
}

.navHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navHeader ul li {
    display: inline-block;
    margin: 10px;
}

.navHeader ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.navHeader ul li a:hover {
    color: #ECA839;
} 

.mainQuemSomos {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--cor-background-secundaria);
    padding-top: 0;
}

.banner {

    background: url(/img/quemSomos/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-size: 100% auto;
    width: 100%;
    height: 850px;
}

.bannerContent {
    text-align: center;
    margin-bottom: 12%;
    padding-top: 6%;
    font-weight: 600;
}

.bannerContent h2 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}

.bannerContent h1 {
    font-size: 9rem;
    color: #fff;
    margin-bottom: 10px;
    line-height: 80%;
}

.bannerContent p {
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
}

/*  */

.historySection {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.historyContent {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.historyContent h1 {
    font-size: 5rem;
    color: #C4413D;
    padding-bottom: 3%;
    font-weight: 500;
}

.historyContent p {
    font-size: 1.5rem;
    color: #333;
}

.historyText p {
    font-size: 1.7rem;
}

.logoPicture {
    width: 500px;
}

.projectSection {
    background-color: #C4413D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.projectContent {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
}

.projectContent h1 {
    font-size: 5rem;
    color: #fff;
    padding-bottom: 3%;
}

.projectContent p {
    font-size: 1.5rem;
    color: #fff;
}

.projectText {
    font-size: 1.7rem;
}

.donationSection {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

.donationContent {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3%;
}

.donationContent h1 {
    font-size: 3rem;
    color: #C4413D;
    padding-bottom: 3%;
}

.donationContent p {
    font-size: 1.7rem;
    color: #333;
}


.pixButton {
    display: inline-block;
    background-color: #C4413D;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 5%;
  }
  
  .pixButton:hover {
    background-color: #ECA839;
  }

.sliderDiv {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.sliderContainer {
    width: 100%;
    overflow: hidden;
    background-color: #ECA839;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.sliderImage {
    width: 100%;
    height: auto;
}

.sliderControls {
    text-align: center;
    background-color: #ECA839;
}

.sliderControls button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 10px;
}

.sliderControls button i {
    color: #C4413D;
}

.sliderControls button:hover i {
    color: #333;
}

@media (max-width: 1300px) {
    .bannerContent {
        padding-top: 3%;
    }
    .bannerContent h1 {
        font-size: 7rem;
    }
    
    .historyText {
        padding: 0;
    }
    
    .historySection {
        padding-bottom: 5%;
        display: flex;
        justify-content: center;
    }
    .historyContent {
        width: 90%;
        display: block;
        padding-top: 0%;
    }
    .project-text {
        padding: 0;
    }
    
    .projectSection {
        padding-bottom: 5%;
        display: flex;
        justify-content: center;
    }
    .projectContent {
        width: 90%;
        display: block;
        padding-top: 0%;
    }
    .projectContent img {display:none}

    .logoPicture {
        margin: 0 auto;
    }
}

@media (min-width: 800px) and (max-width: 885px) {
    .bannerContent {
        padding-top: 0%;
    }
}

@media (max-width: 800px) {
    .bannerContent h1 {
        font-size: 4rem;
    }
    .bannerContent p {
        font-size: 1rem;
    }
    .bannerContent h2 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .banner {
        height: 300px;
    }
    .historySection img {
        display: none;
    }
    .projectSection img {
        width: 50%;
    }

}

@media (max-width: 500px) {
    .bannerContent p {
        display: none;
    }
    .sliderDiv img{
        width: 300px;
    }
}

@media (max-width: 450px) {
    .bannerContent h1 {
        font-size: 3rem;
    }
    .bannerContent p {
        display: none;
    }
    .donationContent h1 {
        font-size: 2.5rem;
    }
    .historyContent h1 {
        font-size: 3rem;
    }
    .historyText p {
        font-size: 1.3rem;
    }
    .projectText p {
        font-size: 1.3rem;
    }
    .donationText p {
        font-size: 1.3rem;
    }
    .projectContent img {
        display: none;
    }
}

@media (max-width: 335px) {
    .banner {
        height: 200px;
    }
    .bannerContent h1 {
        font-size: 2rem;
    }
    .bannerContent h2 {
        font-size: 1rem;
    }

    .projectContent h1 {
        font-size: 3rem;
    }
    .historyContent h1 {
        font-size: 3.5rem;
    }
    .donationContent h1 {
        font-size: 2rem;
    }
    .historyText p {
        font-size: 1.3rem;
    }
    .sliderDiv img{
        width: 320px;
    }

}
    
@media (max-width: 225px) {
    .bannerContent h1 {
        font-size: 1.5rem
    }
    .historyContent h1 {
        font-size: 2rem;
    }
    .projectContent h1 {
        font-size: 2.5rem;
    }
}